body {
    font-family: 'Inter Tight', sans-serif;
}

h1 {
    font-size: 45px;

}

.guu {
    color: rgb(216, 155, 2);

}

section {
    display: flex;
}

.adha {
    width: 50%;
    padding-left: 10px;
}

.adha img {
    width: 100%;
}